# Dependencies
node_modules/

# Env (keep *.example)
.env
.env.local
.env.*.local

# Build
dist/
.next/
out/
build/
*.tsbuildinfo
package-lock.json

# Logs / OS / editors
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/
*.swp
